
<div class="container">
  <div style="background-color: #007bff;text-align: center;border-radius: 14px;width: 103px;color: white;">
    <label>Cardápio</label>
  </div>
  <div class="table-responsive table-bordered">
      <table class="table table-striped">
        <tr>
          <th>Lanches</th>
          <th >Ingredientes</th>
        </tr>

        <tr *ngFor="let menu of menus">
            <td>{{menu.nome}}</td>
            <td>
              {{menu.descricao}}
            </td>
            <td align="center">
              <button type="button" (click) ="addToOrder(menu)"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
      </table>
  </div>
</div>


<div class="container" style="margin-top: 15px;">
  <div style="background-color: #007bff;text-align: center;border-radius: 14px;width: 103px;color: white;">
    <label>Pedido</label>
  </div>
  <div class="table-responsive table-bordered">
      <table class="table table-striped">
          <th>Lanche</th>
          <th >Descrição</th>
          <th ></th>

        <tr *ngFor="let menu2 of menus2; index as i">
            <td>{{menu2.nome}}</td>
            <td>
              {{menu2.descricao}}
            </td>
            <td align="center">
              <button (click) ="removeOrder(i)"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
      </table>
  </div>

  <div style="justify-content: center;display: flex; margin-top: 26px;padding: 25px;">
    <label style="color: white; background-color: green;padding: 6px;border-radius: 15px;">Valor Total: R$ 00,00</label>
  </div>

  <div style="justify-content: center;display: flex; margin-top: 26px;padding: 25px;">
    <button (click) ="saveOrder()">Finalizar Pedido</button>
  </div>
</div>
  