
<div class="container">
  <div style="background-color: #007bff;text-align: center;border-radius: 14px;width: 103px;color: white;">
    <label>Cardápio</label>
  </div>
  <div class="table-responsive table-bordered">
      <table class="table table-striped">
        <tr>
          <th>Lanches</th>
          <th >Ingredientes</th>
        </tr>

        <tr>
            <td>X-Bacon</td>
            <td>
              Bacon, hambúrguer de carne e queijo
            </td>
        </tr>

        <tr>
            <td>X-Burguer</td>
            <td>
              Hambúrguer de carne e queijo
            </td>
        </tr>

        <tr>
            <td>X-Egg</td>
            <td>
              Ovo, hambúrguer de carne e queijo
            </td>
        </tr>

        <tr>
            <td>X-Egg-Bacon</td>
            <td>
              Ovo, bacon, hambúrguer de carne e queijo
            </td>
        </tr>
      </table>
  </div>
</div>


<div class="container" style="margin-top: 15px;">
  <div style="background-color: #007bff;text-align: center;border-radius: 14px;width: 103px;color: white;">
    <label>Pedido</label>
  </div>
  <div class="table-responsive table-bordered">
      <table class="table table-striped">
          <th>Ingrediente</th>
          <th >Valor</th>
          <th ></th>

        <tr >
            <td>teste</td>
            <td>
              R$ teste 
            </td>
            <td align="center">
              <button class="btn"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
      </table>
  </div>
</div>
  