
  <div class="container" style="margin-top: 3em;margin-left: 22em;background-color: #0066ff61;width: 45em;height: 154px;border-radius: 13px;">
    <h1>Restaurante - Seja Bem Vindo!</h1>
    <div class="row" style="margin-left: 100px;margin-top: 46px;">
      <div class="col-md-3">
        <button class="btn" style="background-color: aliceblue;" routerLink="/menu" >Ver Cardápio</button>
      </div>

      <div class="col-md-3">
          <button class="btn" style="background-color: aliceblue;"  routerLink="/pedido">Monte seu próprio pedido</button>
      </div>
    </div>
  </div>
  